@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<DoAnQLBS.Models.SACH>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Admin.cshtml";
}

<p>
    @Html.ActionLink("Thêm sách", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MASACH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TENSACH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GIABAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().MOTA)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.First().ANHBIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NGAYCAPNHAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().SOLUONGTON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NXB.TENNXB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CHUDE.TENCHUDE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Moi)
            </th>
            <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MASACH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TENSACH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GIABAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MOTA)
            </td>
            <td>
                <img src="@Url.Content("/Hinh anh/"+item.ANHBIA)" width="120" height="150" />
            </td>
            @*
                <td>
                    @Html.DisplayFor(modelItem => item.NGAYCAPNHAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SOLUONGTON)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NXB.TENNXB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CHUDE.TENCHUDE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Moi)
                </td>*@
            <td>
                @Html.ActionLink("Sửa", "Edit", new { @MaSach = item.MASACH }) |
                @Html.ActionLink("Xem thêm", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Xóa", "Delete", new {@MaSach = item.MASACH })
            </td>
        </tr>
    }

</table>
<div style="clear:both"></div>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="Menu">
    @Html.PagedListPager(Model , Page => Url.Action("Index", new { Page = Page }))
</div>
<style>
    .Menu li {
        display: inline;
    }
</style>
